/* colors */

$clr-neutral-100: hsl(0,0%,100%);
$clr-neutral-200: hsl(210, 46%, 95%);
$clr-neutral-400: hsl(212, 23%, 69%);
$clr-neutral-600: hsl(214, 17%, 51%);
$clr-neutral-800 :hsl(217, 19%, 35%);

/* typography */

$ff-primary:"Manrope", "helvetica";
$ff-secondary: "Manrope", "helvetica";

$fs-header-desktop: 1.25rem;
$fs-header-mobile: 1rem;

$fs-body: .8125rem;

$fw-500: 500;
$fw-700: 700;

